{% extends "layout.html" %}
{% block content2 %}
   
              <img src="{{ url_for('static', filename='home1.png') }}" width="100%" valign="top"  >
          

    
    <article class="media content-section">
          <div class="media-body">
          <div class="container">
              <div class="row">
                
                <div class="col-12">
                <h1 style="text-align:center;"><a class="article-title" ><br>Together, we are the Nava Kerala People's Party.</a></h1>
                  <h3 style="text-align:center;"><a class="article-title" >We are fighting for a better, fairer, and brighter future for every Keralite: rolling up our sleeves, empowering grassroots voters, and organizing everywhere to take our state back.</a></h3>

                                   
                </div>
              </div>
          </div>
          </div>
    </article>
    <article class="media content-section">
          <div class="media-body">
          <div class="container">
          <h1 style="text-align:center;"><a class="article-title" >“How To Choose A Great Leader?”</a></h1>
                
                   <h2 style="text-align:center;" class="article-content"> Choose a leader who will invest in</h2>
              <div class="row">
                
                <div class="col-4">
                <p class="article-content"> Building bridges, not walls.<br> Books, not weapons.<br>Morality, not corruption.<br> Stability, not fear and terror.<br> Peace, not chaos.</p>
                  </div>
                <div class="col-4">
                  <p class="article-content"> Love, not hate.<br> Convergence, not segregation.<br>Tolerance, not discrimination.<br>Fairness, not hypocrisy.<br>Substance, not superficiality.</p>
                                   
                </div>
                <div class="col-4">
                  

                   
                   <p class="article-content"> Character, not immaturity.<br>Transparency, not secrecy.<br> Justice, not lawlessness.<br>Environmental improvement and preservation, not destruction.<br> Truth, not lies.”</p>
                                   
                </div>
              </div>
          </div>
          </div>
    </article>
 <article class="media content-section">
          <div class="media-body">
          <div class="container">
              <div class="row">
                
                <div class="col-12">
                  <h2 style="text-align:center;"><a class="article-title" >“State first, subjects second, statesmen last.”</a></h2>

                                   
                </div>
                
              </div>
          </div>
          </div>
    </article>
    
      
    

{% endblock content2 %}

